doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(type="text/javascript", src="/javascripts/lib/angular.min.js")
    script(type="text/javascript", src="/javascripts/app.js")
  body(ng-app='store')
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      div.container
    block content