body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.image-size {
  height: 300px;
  width: 200px;
}
input.form-control {
  position: fixed;
  width: 400px;
  border-style: solid;
  border-color: #000;
  z-index: 1;
}
